In [ ]:
import pyodbc as pyo
import time

In [2]:
import ipynb
print('Please make sure to use LAN connection to do this job')
print('-----------------------------------------------------------------')
print('')
Del_table = input(str('Do you want to delete table TAIMX_SRC_DU_LIEU_GOI_THAU_OVERVIEW before crawling new data(Yes/No): '))
if Del_table == 'Yes':
    connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
                        ,host= 'DETL-DB-VM-P1\POWERPIVOT'
                        ,database='SME'
                        ,trusted_connection='yes')
    cursor = connection.cursor()
    delete_sql = "Delete from SME..TAIMX_SRC_DU_LIEU_GOI_THAU_OVERVIEW"
    cursor.execute(delete_sql)
    connection.commit()
    print("Deleted all the data successfully!!!!")
    print('')   
List_choices = ['Đang mở thầu','Đang xét thầu','Đã trúng thầu','All','Skip this step']
print('What do you want to crawl?? \n 1.--->   Đang mở thầu \n 2.--->   Đang xét thầu \n 3.--->   Đã trúng thầu \n 4.--->   All \n 5.--->   Skip this step')
crawl_type = 'Waiting'
while crawl_type not in List_choices:
    print('INCORRECT!!!!, Your choice is invalid, please make it again!!')
    crawl_type = input(str('Please Enter Your Choice: '))
    crawl_type = crawl_type.strip().lower().capitalize()
print('CORRECT!!!!, YOUR CHOICE IS',crawl_type)
if crawl_type == 'Đã trúng thầu':
    %run KEO_SRC_GOI_THAU_TRUNG_THAU.ipynb
if crawl_type == 'Đang xét thầu':
    %run KEO_SRC_GOI_THAU_XET_THAU.ipynb
if crawl_type == 'Đang mở thầu':
    %run KEO_SRC_GOI_THAU_MO_THAU.ipynb
if crawl_type == 'All':
    %run KEO_SRC_GOI_THAU_TRUNG_THAU.ipynb 
    %run KEO_SRC_GOI_THAU_XET_THAU.ipynb 
    %run KEO_SRC_GOI_THAU_MO_THAU.ipynb
if crawl_type == 'Skip this step':   
    SRC_to_DIM = input(str('Do you want to insert data to table SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW (Yes/No): '))
    if SRC_to_DIM == 'Yes':
        connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
                            ,host= 'DETL-DB-VM-P1\POWERPIVOT'
                            ,database='SME'
                            ,trusted_connection='yes')
        cursor = connection.cursor()
        Drop_query = "Drop table if exists SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW_BACKUP Select * into SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW_BACKUP from SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW  "
        cursor.execute(Drop_query)
        connection.commit()
        insert_query = "Insert into SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW Select Case when Len(Ma_TBMT) <= 15 then Left(Ma_TBMT,12) Else Substring(Ma_TBMT,31,12) End as Ma_TBMT,Ten_goi_thau,Ben_moi_thau,CAST(Ngay_thong_bao as date) as Ngay_TBMT,Linh_vuc,Dia_diem_thau,Ngay_dong_thau,Hinh_thuc_du_thau,DN_trung_thau,Cast(replace(Gia_trung_thau,',','') as float) as Gia_trung_thau,Ngay_phe_duyet as Ngay_duyet_KQDT,Link_chi_tiet,Trang_thai_goi_thau,Ngay_keo_du_lieu,'0' as Remark From (Select *,ROW_NUMBER() Over(Partition by Case when Len(Ma_TBMT) <= 15 then Left(Ma_TBMT,12) Else Substring(Ma_TBMT,31,12) End order by Ngay_keo_du_lieu desc) as RK From SME..TAIMX_SRC_DU_LIEU_GOI_THAU_OVERVIEW) T Where T.RK = 1      "
        cursor.execute(insert_query)
        connection.commit()
        default_value = "Update A Set A.Remark = B.Remark From SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW A,(Select * from SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW where Remark = '1') B Where A.Ma_TBMT = B.Ma_TBMT and A.Trang_thai_goi_thau = B.Trang_thai_goi_thau "
        cursor.execute(default_value)
        connection.commit()
        duplicated_value = "DELETE T FROM (SELECT *,DupRank = ROW_NUMBER() OVER (PARTITION BY Ma_TBMT ORDER BY Ngay_keo_du_lieu desc) FROM SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW ) AS T WHERE DupRank > 1"
        cursor.execute(duplicated_value)
        connection.commit()

Please make sure to use LAN connection to do this job
-----------------------------------------------------------------

Do you want to delete table TAIMX_SRC_DU_LIEU_GOI_THAU_OVERVIEW before crawling new data(Yes/No): No
What do you want to crawl??
 1.--->   Đang mở thầu
 2.--->   Đang xét thầu
 3.--->   Đã trúng thầu
 4.--->   All
 5.--->   Skip this step
INCORRECT!!!!, Your choice is invalid, please make it again!!
Please Enter Your Choice: Skip this step
CORRECT!!!!, YOUR CHOICE IS Skip this step
Do you want to insert data to table SME..TAIMX_SRC_DU_LIEU_GOI_THAU_OVERVIEW (Yes/No): No