In [ ]:
import pandas as pd
import numpy as np
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pyodbc as pyo
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from datetime import datetime
from selenium.webdriver.chrome.options import Options

In [ ]:
#%run USER_PASSWORD.ipynb
host_name = ''
if user_name in users_list:
    host_name = LOCAL[user_name]
    print(f"is your local: {host_name}")
else:
    host_name = input("Tên không tìm thấy. Vui lòng tự điền Local: ").strip()
    print(f"Local bạn đã nhập là: {host_name}")

In [ ]:
print('Please use LAN connection to do this step!!!!')
# host_name = input(str('Please input your local host name in SQL: '))
# host_name = host_name.strip()
# print('   ------------------------------------------------->     YOUR LOCAL HOST NAME IS: ',host_name)
# print('   ')
Del_table = input(str('Do you want to DELETE TABLE SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW in your LOCAL(Yes/No): '))
if Del_table.lower() == 'yes': 
    connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
                             ,host= host_name
                             ,database='SME'
                             ,trusted_connection='yes')
    cursor = connection.cursor()
    Del_SQL = "Delete from SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW"
    try:
        cursor.execute(Del_SQL)
        connection.commit()
        print('Deleted table SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW successfully!!!')
    except: 
        print('Table SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW does not exist!!!')
delete_table = input(str('Do you want to DELETE TABLE SME..TAIMX_SRC_Du_LIEU_GOI_THAU_DETAIL in your LOCAL(Yes/No): '))
if delete_table.strip().lower() == 'yes':
    connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
                             ,host= host_name
                             ,database='SME'
                             ,trusted_connection='yes')
    cursor = connection.cursor()
    delete_SQL = "Delete from SME..TAIMX_SRC_Du_LIEU_GOI_THAU_DETAIL"
    try:
        cursor.execute(delete_SQL)
        connection.commit()
        print('Deleted table SME..TAIMX_SRC_Du_LIEU_GOI_THAU_DETAIL successfully!!!')
    except: 
        print('Table SME..TAIMX_SRC_Du_LIEU_GOI_THAU_DETAIL does not exist!!!')

In [ ]:
# table_check_query = """
# IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES 
#                WHERE TABLE_NAME = 'TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW')
# BEGIN
#     CREATE TABLE SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW (
#         Ma_TBMT NVARCHAR(50),
#         Trang_thai_goi_thau NVARCHAR(100),
#         Remark int,
#         Link_chi_tiet NVARCHAR(MAX)
#     )
# END
# """

# cursor.execute(table_check_query)
# connection.commit()


# for index, row in df.iterrows():

#     cursor.execute("""
#         INSERT INTO SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW (Ma_TBMT, Trang_thai_goi_thau, Remark, Link_chi_tiet) 
#         VALUES (?, ?, ?, ?)
#     """, row.Ma_TBMT, row.Trang_thai_goi_thau, row.Remark, row.Link_chi_tiet)
#     connection.commit()

In [ ]:
connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
                         ,host= host_name
                         ,database='SME'
                         ,trusted_connection='yes')
cursor = connection.cursor()
connection_2 = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
                        ,host= 'DETL-DB-VM-P1\POWERPIVOT'
                        ,database='SME'
                        ,trusted_connection='yes')
cursor_2 = connection_2.cursor()
choice_dict = {
    1: "Đang mở thầu",
    2: "Đang xét thầu",
    3: "Đã trúng thầu",
    4: "All"
}

print('               What do you want to crawl?? \n 1.--->   Đang mở thầu \n 2.--->   Đang xét thầu \n 3.--->   Đã trúng thầu \n 4.--->   All')
Loai_goi_thau = None
while True:
    try:
        choice = int(input('Please Enter Your Choice (1-4): '))
        if choice in choice_dict:
            Loai_goi_thau = choice_dict[choice]
            break
        else:
            print('INCORRECT!!!! Your choice is invalid, please make it again!!')
    except ValueError:
        print('INCORRECT!!!! Please enter a valid number between 1 and 4.')

print('   ------------------------------------------------->     CORRECT!!!! YOUR CHOICE IS', Loai_goi_thau)
print('   ')
start_value = 0
while start_value <= 0 or isinstance(start_value,int)==False:
    print('Your start value is invalid, please input again')
    try:
        start_value = int(input('               CONSTRAINT NO.2 \n Please input your start value: '))
    except:
        start_value = 0
        start_value = int(input('               CONSTRAINT NO.2 \n Please input your start value: '))
print('   ------------------------------------------------->     CORRECT!!!! YOUR START VALUE IS: ',start_value)
print('   ')
end_value = 0
while end_value <= start_value or isinstance(end_value,int)==False:
    print('Your start end is invalid, please input again')
    try:
        end_value = int(input('               CONSTRAINT NO.3 \n Please input your end value: '))
    except:
        end_value = 0
        end_value = int(input('               CONSTRAINT NO.3 \n Please input your end value: '))
print('   ------------------------------------------------->     CORRECT!!!! YOUR END VALUE IS: ',end_value)
print('   ')
pre_1 = "Select Ma_TBMT,Trang_thai_goi_thau,Remark,Link_chi_tiet from "
pre_2 = "(Select * ,ROW_NUMBER() Over(Partition by Trang_thai_goi_thau order by Ngay_keo_du_lieu desc) as RK From SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW where Remark = '0' and Trang_thai_goi_thau = "
pre_3 = "where T.RK between " 
query_SQL = pre_1 + pre_2 + "N'" + str(Loai_goi_thau) + "') T " + pre_3 + 'cast('+ str(start_value) + ' as int)' + " and " + 'cast('+ str(end_value) + ' as int)'
df = pd.read_sql(sql=query_SQL,con=connection_2)
table_check_query = """
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES 
               WHERE TABLE_NAME = 'TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW')
BEGIN
    CREATE TABLE SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW (
        Ma_TBMT NVARCHAR(50),
        Trang_thai_goi_thau NVARCHAR(100),
        Remark int,
        Link_chi_tiet NVARCHAR(MAX)
    )
END
"""

cursor.execute(table_check_query)
connection.commit()
for index, row in df.iterrows():

    cursor.execute("""
        INSERT INTO SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW (Ma_TBMT, Trang_thai_goi_thau, Remark, Link_chi_tiet) 
        VALUES (?, ?, ?, ?)
    """, row.Ma_TBMT, row.Trang_thai_goi_thau, row.Remark, row.Link_chi_tiet)
    connection.commit()

len_check = "Select * from SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW"
len_df = pd.read_sql(sql=len_check,con=connection) 
print('Inserted successfully',len(len_df),'rows for',Loai_goi_thau,'into SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW')

In [ ]:
# connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
#                          ,host= 'LT32046SME200'
#                          ,database='SME'
#                          ,trusted_connection='yes')
# cursor = connection.cursor()

In [ ]:
# import pandas as pd


# query_SQL = """
#     SELECT Ma_TBMT, Trang_thai_goi_thau, Remark, Link_chi_tiet 
#     FROM (
#         SELECT *,
#                ROW_NUMBER() OVER (PARTITION BY Trang_thai_goi_thau ORDER BY Ngay_keo_du_lieu DESC) AS RK
#         FROM SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW
#         WHERE Remark = '0' AND Trang_thai_goi_thau = N'Đang mở thầu'
#     ) T
#     WHERE T.RK BETWEEN 1 AND 20
# """
# df = pd.read_sql(sql=query_SQL, con=connection)

In [ ]:
# import pyodbc

# connection = pyo.connect(driver='{ODBC Driver 17 for SQL Server}'
#                          ,host= 'LT32046SME200'
#                          ,database='SME'
#                          ,trusted_connection='yes')
# cursor = connection.cursor()
# table_check_query = """
# IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES 
#                WHERE TABLE_NAME = 'TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW_1')
# BEGIN
#     CREATE TABLE SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW_1 (
#         Ma_TBMT NVARCHAR(50),
#         Trang_thai_goi_thau NVARCHAR(100),
#         Remark int,
#         Link_chi_tiet NVARCHAR(MAX)
#     )
# END
# """

# cursor.execute(table_check_query)
# connection.commit()


# for index, row in df.iterrows():

#     cursor.execute("""
#         INSERT INTO SME..TAIMX_DIM_DU_LIEU_GOI_THAU_OVERVIEW_1 (Ma_TBMT, Trang_thai_goi_thau, Remark, Link_chi_tiet) 
#         VALUES (?, ?, ?, ?)
#     """, row.Ma_TBMT, row.Trang_thai_goi_thau, row.Remark, row.Link_chi_tiet)
#     connection.commit()


# cursor.close()
# connection.close()